@model IEnumerable<BOK.Models.Offer>

@{
    ViewData["Title"] = "Offers";
}

<h1>Offers list</h1>

<p>
    <a asp-action="Create" class="btn btn-primary">Create New</a>
</p>
<table class="table table table-striped">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Speed)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OpticalFibre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MonthlyCost)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CommitmentPeriod)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Speed)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OpticalFibre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MonthlyCost)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CommitmentPeriod)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id"><i class='bx bxs-edit'></i></a> |
                <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-info">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
